:root {
  --primary: #222021;
  --secondary: #D0C9C1; 
  --c-secondary: #c9c5c7;
}


body {
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../public/machine-bg.jpg")
}



.bg-primary, .btn-primary, .bg-c-primary {
  background-color:var(--primary) !important; 
}

.bg-c-secondary {
background-color: var(--c-secondary);
}



.text-primary, .text-c-primary {
  color:var(--primary)  !important; 
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (min-width: 1200px) {
  .container{
      max-width: 100rem !important;
  }
}